body {
  background-color: lightblue;
}

header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.site-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.loginform > input {
  font-size: 15px;
  height: 50px;
  width: 400px;
  text-align: center;
  justify-content: center;
}

.info-submit {
  font-size: 15px;
  width: 400px;
}

.gameboard {
  border: solid black 1px;
}

.row {
  width: 525px;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.row > div {
  width: 73px;
  height: 73px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row > div:hover {
  border: solid yellow 1px;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.white {
  background: white;
}
